// ****************************
// * LAVA SKIN DEFAULT STYLES *
// ****************************
@default-font-size: 18px;
@orange: #f86d18;
@orange-dark: #c65713;
@grey: rgba(0,0,0,0.45);
@light-gray: rgba(0,0,0,0.35);
@bgcolor: rgba(0,0,0,0.025);
@font-color: #646464;
.transition {
transition: 0.3s ease;
 -webkit-transition:0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
}
body {
	font-family: 'PT Sans', sans-serif;
	font-size: @default-font-size;
	.container {
		a {
			&:hover {
				text-decoration: underline;
				background-color: transparent !important;
			}
		}
	}	
	.sitewide_header {
		margin-bottom: 0px;
	}
	.widget_core_coll_title h1 {
		margin: 0px;
		padding: 0px;
	}
}

// Header
.evo_container__header {
	margin-bottom: 20px;
	padding-top: 32px;
	padding-bottom: 32px;
	h1 a {
		text-transform: uppercase;
		letter-spacing: 0px;
		font-size: 28px;
		font-weight: 700;
	}
	.widget_core_coll_tagline {
		font-family: serif;
		font-style: italic;
	}
}
.evo_container__page_top {
	margin-top: 50px;
	.ufld_icon_links {
	text-align: right;
		a span {
		.transition;
			&:hover {
			text-decoration: none !important;
			background-color: transparent;
			}
		}
	}
	a:hover {
		text-decoration: none !important;
	}
	.widget--social-media-links {
		text-align: right;
	}
}
.nav.nav-tabs {
	margin-top: 0;
}
// Blog navigation
.navi {
	margin: 0px;
	ul.blog-navigation {
		margin: 0px;
		li {
			display: inline-block;
			list-style-type: none;
			padding: 14px 0px;
			a {
				padding: 15px 15px;
				border-right: 1px solid rgba(255,255,255,0.1);
				text-decoration: none !important;
				.transition;
				&:hover{
					border-right: 1px solid rgba(255,255,255,0.00);
				}
			}
			a.selected {
				font-weight: normal;
				border-right: 1px solid rgba(255,255,255,0.00);
			}
		}
		.compact_search_form {
			float: right;
			right: 0;
			margin-top: -44px;
			margin-right: 11px;
			input.search_field {
				border-radius: 0px;
				max-width: 180px;
				margin-right: 3px;
				border: 1px solid rgba(0,0,0,0);
				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
			.search_submit {
				border-radius: 0px;
				color: white;
				margin-top: -2px;
			.transition;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}
#nav-mobile, #nav-trigger {
display: none;
}

// Login widget form
.widget_core_user_login {
	#login_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}
	.submit {
		font-size: 12px;
	}
	.field_login_btn {
		.panel {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
	.register_link {
		display: block;
		padding-top: 10px;
	}
}

// Register widget form
.widget_core_user_register {
	#register_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}
	.submit {
		font-size: 12px;
	}
	.field_register_btn {
		.panel {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
}

// Profile tabs on ?disp=profile
ul.profile_tabs {
	margin: 0 2ex 2ex;
	position: relative;
	top: 1px;
}

.profile_avatar {
	float: right;
	padding: 10px;
	margin-left: 10px;
}

// Use full width for all textarea
.form-horizontal .controls textarea.form-control {
	width: 100%;
}

// A search button
input.search_field {
	margin-bottom: 0;
	display: inline-block;
}
form.search .search_options {
	width: 100%;
	.search_option input {
		margin-right: 5px;
	}
	.search_option label {
		margin-bottom: 0;
		margin-top: 5px;
	}
}
div.compact_search_form {
	input.search_field {
		width: 100%;
		margin: 0;
	}
}
div.extended_search_form {
	text-align: center;
	margin: 0 auto 2em auto;
	max-width: 530px;
	.search_options {
		text-align: center;
		.search_option {
			display: inline-block;
			margin-right: 10px;
		}
	}
}

// Table for select categories of item
table.catselect {
	input#new_category_name {
		width: 98% !important;
	}
}

// Form elements on item edit page
label.control-label[for=post_title] {
	width: auto;
}
.item_tags {
	td.label {
		background: none;
		color: #000;
		text-shadow: none;
		padding: 0 5px 0 0;
		font-size: 100%;
		label, span {
			margin-top: 10px;
		}
	}
	td.input {
		width: 90%;
		label {
			display: none;
		}
	}
	.controls {
		margin-left: 0;
	}
}

// A form to create a new message/thread
textarea.message_text {
	width: 95%;
}

// Fix the form elements
.comment_form {
	h3 {
		margin: 0;
	}
	.panel {
		margin: 0;
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none !important;
		.panel-body {
			padding: 0;
		}
	}
}
.form-horizontal {
	.form-group, .custom_content {
		margin-left: 0;
		margin-right: 0;
	}
	fieldset {
		margin-top: 0;
	}
	input[type=file] {
		display: inline;
	}
}
#comment_date_field {
	input {
		width: 80px;
	}
	label {
		font-weight: normal;
	}
}
.form-group[id^="ffield_uploadfile"] .controls {
	padding-top: 5px;
	input {
		line-height: 10px;
	}
}
// Comment template
.comment_rating {
	margin-top: 2px;
}
#comment_edit .comment_rating {
	margin-top: 9px;
}
.ratings_table {
	margin-bottom: 10px;
	.rating_summary {
		border-spacing: 1px;
		border-collapse: separate;
	}
	.progress {
		border-radius: 0;
		height: 13px;
	}
	.rating_summary_total {
		.average_rating {
			padding-top: 0;
			.star_rating span {
				font-size: 18px;
				padding: 0;
			}
			> span {
					font-size: 13px;
					padding-top: 3px;
					line-height: 14px;
				}
		}
	}
}
#comment_date_field .panel {
	border: none;
	box-shadow: none;
	margin-bottom: 0;
	.panel-body {
		padding: 0;
		.control-label {
			font-weight: bold;
		}
		.controls .form-group {
			display: inline-block;
			padding-left: 15px;
			margin-bottom: 0;
		}
	}
}

.evo_post {
	margin-bottom: 2em;
	.small.text-muted {
		margin: 4px 0 10px;
		a, a .glyphicon {
			color: inherit;
		}
	}
}

// Single post style
.single_navigation {
	margin: 10px 0px 0px 0px;
	list-style-type: none;
	li {
		&.previous {
			float: left;
		}
		&.next {
			float: right;
		}
		a {
			padding: 8px;
			&:hover {
				text-decoration: none;
				color: white;
			}
		}
	}
}
.well .small-tags {
	margin-bottom: 10px;
	i.fa-tags {
		vertical-align: middle;
		margin-right: 5px;
		font-size: 21px;
	}
	a {
		font-size: 16px !important;
		padding: 5px;
		margin-right: 5px;
		.transition;
			&:hover {
			text-decoration: none;
		}
	}
}
.well .small-feedback {
	margin-bottom: 5px;
}
.evo_post {
	//margin-top: 35px;
	margin-bottom: 2em;
	padding: 15px 60px 40px;
	.evo_post_title h1 {
		margin-bottom: 0;
	}
	.small.text-muted {
		margin: 4px 0 10px;
		font-style: oblique;
	}
	.evo_post__full {
		.evo_post_images {
			margin: 20px 0px;
		}
		.evo_post__full_text {
		word-spacing: 1px;
			.evo_post_more_link {
			margin-top: 30px;
				a {
				padding: 9px 30px;
				font-weight: normal;
				.transition;
					&:hover {
					text-decoration: none;
					opacity: 0.92;
					}
				}
			}
		}
	}
	.post-tags, footer .small-tags {
	margin-top: 30px;
		i.fa-tags {
		vertical-align: middle;
		margin-right: 5px;
		font-size: 21px;
		}
		a {
		font-size: 16px !important;
		padding: 5px;
		margin-right: 5px;
		.transition;
			&:hover {
			text-decoration: none;
			}
		}
	}
	.small-feedback {
	margin-top: 15px;
		a {
		font-size: 16px;
		text-transform: uppercase;
		}
	}
}
form#user_checkchanges.bComment{
	border: none;
}

// Comments + Form
#feedbacks {
	h3 {
		margin: -15px 0px 20px 0px;
	}
}

.evo_comment {
	border-radius: 0px;
	padding: 15px;
	margin-bottom: 30px;
	box-shadow: none;
	.evo_comment_title {
		font-size: 18px;
		a {
			font-weight: 400;
		}
	}
	.evo_comment_avatar img {
		width: 40px;
		height: 40px;
		float: none;
	}
	.panel-heading {
		padding: 0px;
		background: transparent;
	}
	.panel-body {
		padding: 15px 0px 0px 0px;
	}
	.evo_comment_text .image_block {
		margin-bottom: 10px;
		img {
			max-width: 100%;
			height: 100%;
		}
	}
}
.bUser-member-tag {
	display: none;
}

.evo_comment, .evo_comment__preview {
	.evo_comment_text .image_block {
		margin-bottom: 10px;
		img {
			max-width: 100%;
			height: 100%;
		}
	}	
}
.comment_form {
	border-radius: 0px;
	padding: 15px;
	margin-bottom: 30px;
	.panel-heading {
		background: transparent;
		h4 {
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bold;
			text-align: center;
		}
	}
	.form-group {
		margin-bottom: 0px;
	}
	.panel-body {
		padding: 15px 0px;
		.evo_form__comment {
			.form-group {
				label {
					text-align: left;
					width: 130px;
				}
			}
			.form_textarea_input {
				border-radius: 0px;
				font-size: 18px;
				&:focus {
					outline: none !important;
					box-shadow: none !important;
				}
			}
		}
		#uploadfile_A1 {
			font-size: 16px;
		}
		.fieldset_wrapper {
			fieldset .panel {
				background-color: transparent;
				div div {
					margin-top: 10px;
					margin-bottom: 0px;
					.submit {
						padding: 9px 30px;
						border-radius: 0px;
						font-weight: normal;
						.transition;
						&:hover {
							opacity: 0.8;
						}
					}
					.preview {
						padding: 9px 30px;
						border-radius: 0px;
						font-weight: normal;
						.transition;
						&:hover {
							opacity: 0.8;
						}
					}
				}
			}
		}
	}
}
#comment_preview {
	border-radius: 0;
	.panel-heading {
		background: transparent;
		padding: 15px 0 0 0;
		margin: 0 15px;
		border-color: #ddd;
		h4 {		
			font-size: 18px;
			.evo_comment_avatar {
				margin-right: 6px;
				img {
					width: 40px;
					height: 40px;
				}
			}
		}
	}
}

div.bSideItem {
	background: #F7F5FA;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 #FFFFFF;
	h4 {
		margin-top: 0;
	}
}

// Login/Register forms:
.skin-form {
	.panel-body {
		.panel {
			border: none;
			box-shadow: none;
		}
		.panel-body {
			padding: 0;
		}
	}
	.fieldset {
		margin: 0;
		div.input {
			margin: 0;
		}
	}
	.control-buttons, div.input {
		padding: 0;
		width: 100%;
		text-align: center;
	}
}
.evo_panel__login, .evo_panel__lostpass, .evo_panel__register, .evo_panel__activation {
	min-width: 290px;
	margin: 1.5em auto auto;
	.panel {
		margin: 5px 0;
	}
	.panel-body {
		padding-top: 20px;
		padding-bottom: 0;
	}
}
.evo_panel__login {
	max-width: 400px;
}
.evo_panel__lostpass {
	max-width: 480px;
	#ffield_x label {
		display: none;
	}
}
.evo_panel__activation {
	max-width: 530px;
	#activateinfo_form .control-buttons{
		text-align: left;
	}
}
.evo_panel__register {
	max-width: 580px;
	.control-buttons{
		text-align: left;
	}
	&.register-disabled {
		width: 350px;
	}
	.form-control {
		&#country, &#u {
			width: 100%;
		}
	}
}
.evo_form__login_links {
	padding: 0 5px;
	font-size: 92%;
}
.evo_form__login {
	fieldset {
		margin-bottom: 20px;
	}
	.controls {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.control-buttons {
		margin-left: 0;
	}
	input.form-control[type=text], input.form-control[type=password] {
		width: 100%;
	}
	.btn {
		margin-top: 5px;
	}
}
#login_form {
	.control-buttons {
		text-align: left;
	}
}
.standard_login_link {
	text-align: center;
	margin: 3em 0 1ex 0;
}
.form_footer_notes {
	margin-top: 0;
}

// Pagination
.site_pagination {
	list-style-type: none;
	li {
		display: inline;
		span {
			padding: 6px 12px;
			border-radius: 0px !important;
			margin-right: 5px;
		}
		a[rel~="next"], a[rel~="prev"] {
			padding: 6px 12px;
			border-top: none;
			border-left: none;
			border-right: none;
			margin-right: 5px;
			border-radius: 0px !important;
			&:hover {
				text-decoration: none !important;
			}
		}
	}
}

// Messages
div.action_messages, div.log_container {
	margin: 0;
}

// Positions on the action buttons near page titles
.evo_post_title {
	display: table;
	h2 {
		display: table-cell;
		margin: 0;
		padding: 20px 0 10px;
	}
	.btn-group {
		display: table-cell;
		padding: 20px 0 10px 30px;
		vertical-align: middle;
	}
}

// Main area
.col-md-9 {
	padding-top: 30px;
	padding-bottom: 30px;
	.well {
		padding: 0px 60px 20px 60px;
		border-radius: 0px;
		width: 100%;
		.post_title h2 {
			padding-top: 0px;
		}
	}
	h3 {
		font-size: 21px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		margin: -10px 0px 20px 0px;
	}
	.img-responsive {
		border-radius: 0px;
	}
	.evo_widget {
		margin-bottom: 30px;
	}
	.widget_core_coll_post_list, .widget_core_coll_comment_list {
		ul {
			margin: 0px;
			padding: 15px 15px 15px 50px;
			li {
				list-style-type: decimal;
				padding: 4px 0px;
			}
		}
	}
	.widget_core_coll_comment_list {
		ul li a span.user, ul li a.user {
			font-weight: normal;
		}
		ul li a {
			font-weight: bold;
		}
	}
}

// Sidebar
.col-md-3 {
	padding-top: 30px;
	padding-bottom: 30px;
	.widget_core_coll_avatar a img.loadimg {
		padding: 1px;
		border-radius: 50%;
		border: 1px solid rgba(0,0,0,0.08);
	}
	.panel {
		border-radius: 0px;
		box-shadow: none;
		padding: 15px;
		margin-bottom: 30px;
		.panel-heading {
			border-radius: 0px;
			background-color: rgba(0,0,0,0);
			h4.panel-title {
				font-size: 17px;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		.panel-body {
			ul {
				li {
					font-size: 15px;
					list-style-type: decimal;
					line-height: 1.85em;
					a {
						font-weight: normal;
						font-size: @default-font-size;
						&:nth-child(2) {
							font-weight: bold;
							letter-spacing: 0.7px;
						}
					}
					.user.anonymous {
						font-weight: normal;
					}
				}
				ul {					
					margin-left: 15px;
					li {
						list-style-type: disc;
					}
						ul {					
						margin-left: 25px;
						li {
							list-style-type: circle;
						}
					}
				}
			}
		}
		&.widget_core_coll_comment_list {
			.panel-body {
				padding-left: 0px;
				padding-right: 0px;
				ul li span.login {
					font-weight: normal;
				}
			}
		}
	}
	.widget_core_coll_tag_cloud {
		.panel-body {
			.tag_cloud {
			line-height: 2.0em;
				a {
					font-size: 16px !important;
					padding: 5px;
					.transition;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	.widget_core_coll_search_form {
		.panel-body {
			form.search {
				input.search_field {
				margin-bottom: 2px;
				border-radius: 0px;
				max-width: 200px;
				border: 1px solid rgba(0,0,0,0.1);
				margin-right: 3px;
					&:focus {
					outline: none;
					box-shadow: none;
					}
				}
				.search_submit {
				border-radius: 0px;
				color: white;
				margin-top: -2px;
				.transition;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
}
.evo_widget {
	.panel-body {
		padding: 15px 0 0 0;
		ul, ol {
			margin: 0 0 0px 25px;		
		}
	}
}
.extended_search_form {
	.search_submit, .search_field {
		border-radius: 0 !important;
		&:focus {
			outline: none;
			box-shadow: none;
		}	
	}
	.search_submit:hover {
		opacity: 0.8;
	}
	.search_field {
		border: 1px solid rgba(0,0,0,0.1);
	}
}

// Image hover styles
.evo_image_block {
	border-radius: 0;
	margin: 10px 0px;
	 img.loadimg {
		margin: 0px;
		width: 100% !important;
		height: auto;
		.transition;
		&:hover {
			opacity: 0.9;
		}
	}
}
.evo_post_gallery img {
	border-radius: 0;
	&:hover {
		opacity: 0.8;
	}
}

// Responsive layout
@media only screen and (max-width: 991px) {
	.col-md-9 .widget_core_coll_post_list {
		ul {
		padding: 0px;
		padding-left: 15px !important;
		}
	}
	.evo_container__page_top .ufld_icon_links {
	float: none !important;
	text-align: center;
	margin: 0 auto !important;
	display: block;
	}
	.pageHeader {
	text-align: center;
	}
}
@media all and (max-width: 991px) {
	.blog-navigation, .row.navi { 
		display: none !important;
	}
	#nav-trigger {
		display: block; 
		padding: 14px 0px;
		text-align: center;
		span {
			color: white;
			padding: 15px 50px 16px 50px;
			cursor: pointer;
			.transition;
			&:after {
				font-family: FontAwesome;
				content:" \f0c9";
			}
		}
	}
	nav#nav-mobile {
    display: block; 
	margin: 0 auto;
	max-width: 400px !important;
		ul {
		padding: 0px;
		margin: 0px;
		text-align: center;
			li {
			list-style-type: none;
			width: 100%;
			margin: 0px;
				&.active {
				font-weight: 100;
				}
				a {
				width:100%;
				margin-left:0;
				margin-right:0;
				padding-left:0;
				padding-right:0;
				display:block;
				text-align:center;
				padding-top: 10px;
				padding-bottom: 10px;
					&:hover {
					text-decoration: none;
					}
				}
			}
			div.compact_search_form {
			margin-top: 2px;
				input.search_field {
				margin-bottom: 2px;
				border-radius: 0px;
				max-width: 200px;
				border: 1px solid rgba(0,0,0,0);
				margin-right: 3px;
					&:focus {
					outline: none;
					box-shadow: none;
					}
				}
				.search_submit {
				border-radius: 0px;
				margin-top: -2px;
				.transition;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
	#nav-mobile {
		ul {
		display: none;
		}
	}

	div.compact_search_form {
		.input-group-btn {
			width: auto;
		}
	}
}
@media only screen and (max-width: 750px) {
	.evo_post, .well {
	padding-left: 15px !important;
	padding-right: 15px !important;
		.evo_post__full_text {
		word-spacing: 0px;
		}
	}
}

/* RANDOM FIXES */
.disp_page .evo_post {
	margin-top: 0;
}

#bCalendarToday {
	border: 1px solid @orange;
	background-color: @orange;
	color: white;
	border-radius: 0;
}
  
.disp_posts .pagination {
	display: none !important;
}

.disp_comments {
	.evo_comment {
		margin-bottom: 30px;
		box-shadow: none;
		border-radius: 0;
		.panel-heading {
			background: transparent;
			margin: 0;
			padding: 0;
			h4 {
				font-size: 18px;
			}
			.evo_comment_avatar {
				display: inline-block;
				img {
					width: 40px;
					height: 40px;
					border-radius: 0;
					margin: 0;
					margin-right: 6px;
					margin-top: 0px;
				}
			}
			.evo_comment_title {
				float: none !important;
				display: inline;
				.panel-heading {
					display: inline;
					.evo_comment_title {
						display: inline;
					}
				}
			}
		}
	}
}

/* Star rating */


div.star_rating, 
div.star_rating div {
    background: 0 0;
    overflow: visible;
}

#comment_rating {
    width: 90px;
    text-indent: 0;
    height: auto;
    display: inline-block;
    .raty_cancel_off, .raty_cancel_on, .raty_star_off, .raty_star_on {
        background: transparent;
        text-indent: 0;
        width: auto;
        height: auto;
    }
    .raty_cancel_off:before, .raty_cancel_on:before, .raty_star_off:before, .raty_star_on:before {
        font-family: FontAwesome;
        -webkit-font-smoothing: antialiased;
        background: transparent;
        display: inline-block;
        content: "\F005";
    }
	.raty_cancel_off:before, .raty_star_off:before {
		opacity: 0.5;
	}
}

// Alert "X" button
.alert button.close {
	top: 2px;
}

.disp_comments main, .disp_arcdir main, .disp_catdir main {
	> h2 {
		font-size: 21px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0px 0px 20px 0px;
	}
}

.disp_arcdir, .disp_catdir {
	 main > ul {
		margin: 0px;
		padding: 15px 15px 15px 50px;
		li {
			list-style-type: decimal;
			padding: 4px 0px;
		}
	}
}