/* --------------------------- Font --------------------------- */
#skin_wrapper {
  font-family: 'Roboto', sans-serif;
}
/* --------------------- Style overrides ---------------------- */
#skin_wrapper {
  font-size: 15px;
  line-height: 1.7;
}
.navbar {
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  margin-bottom: 30px;
}
.navbar .navbar-collapse {
  border: none;
  padding: 0;
}
.navbar .navbar-collapse .nav {
  margin: 0;
}
.navbar .navbar-collapse .nav li > a {
  font-weight: 700;
  text-transform: uppercase;
}
.navbar .navbar-collapse .nav > li:first-child a.selected {
  border-radius: 2px 0 0 2px;
}
.navbar.navbar-default .navbar-toggle:focus,
.navbar.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.panel.panel-default,
.results {
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  margin-bottom: 30px;
}
.panel.panel-default .panel-heading,
.results .panel-heading {
  padding: 20px;
}
.panel.panel-default .panel-heading h4,
.results .panel-heading h4,
.panel.panel-default .panel-heading h3,
.results .panel-heading h3 {
  font-weight: 700;
  text-transform: uppercase;
}
.panel.panel-default .panel-body,
.results .panel-body {
  padding: 20px;
}
.panel.panel-default .panel-footer,
.results .panel-footer {
  border-top: 0;
  border-radius: 2px;
  background-color: transparent;
  padding: 0 20px 20px;
}
.panel.panel-default.panel-meta,
.results.panel-meta {
  margin: 0;
}
.panel.panel-default.panel-meta .panel.panel-default,
.results.panel-meta .panel.panel-default {
  box-shadow: none;
}
.panel.panel-default.panel-meta .panel.panel-default > .panel-body > .form-group,
.results.panel-meta .panel.panel-default > .panel-body > .form-group {
  margin: 0;
}
.panel.panel-default .pagination,
.results .pagination {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0 12px;
}
.panel.panel-default .page_size_selector,
.results .page_size_selector {
  margin-bottom: 20px;
}
main.panel .panel-body {
  padding: 20px;
}
main.panel h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.evo_item_meta_comments .panel-heading {
  font-weight: 700;
  text-transform: uppercase;
}
figure {
  margin: 0 0 1em;
}
.img-responsive,
.form-control,
.search_submit,
.evo_comment img,
.evo_content_block .evo_comment_avatar img,
.popover img,
.evo_widget img {
  border-radius: 2px;
}
#bCalendarToday {
  border: none;
  border-radius: 2px;
}
.evo_comment__list_title,
input.preview,
input.submit,
.post_comments_link a {
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.post_comments_link {
  margin: 0;
}
.evo_comment__meta_info,
.evo_post_comment_notification,
.evo_post_feedback_feed_msg {
  padding: 0;
}
.evo_comment__meta_info a,
.evo_post_comment_notification a,
.evo_post_feedback_feed_msg a {
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  line-height: 1.1;
  margin-bottom: 30px;
}
.evo_comment__list_title,
.evo_comment__meta_info a,
.evo_post_comment_notification a,
.evo_post_feedback_feed_msg a,
input.preview,
input.submit {
  padding: 15px;
}
a[rel~=nofollow]:not([class~=btn]):hover {
  background: transparent;
}
.evo_post_comment_notification p,
.evo_post_feedback_feed_msg p {
  margin: 0;
}
.evo_post_comment_notification p a,
.evo_post_feedback_feed_msg p a {
  display: inline-block;
  white-space: inherit;
}
.evo_post_comment_notification p a span,
.evo_post_feedback_feed_msg p a span {
  color: inherit !important;
}
.evo_post_feedback_feed_msg a:hover {
  text-decoration: none;
}
.evo_form__comment .panel.panel-default {
  margin: 0;
}
.evo_form__comment .panel.panel-default .panel-body {
  padding: 0;
}
.evo_form__comment .panel.panel-default .panel-body > .form-group {
  margin: 0;
}
.well.evo_intro_post {
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  padding: 20px;
  margin-bottom: 30px;
}
.well.evo_intro_post > .panel-heading,
.well.evo_intro_post > .panel-body {
  padding: 0;
}
.well.evo_intro_post .evo_post_title h2 {
  padding: 0;
}
main .evo_widget:not(.evo_layout_rwd):not(.evo_layout_flow),
main .widget_flow_blocks > div,
main .widget_rwd_blocks .widget_rwd_content,
main .disp_mediaidx_widget > h3 {
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  padding: 20px;
  margin-bottom: 30px;
}
.evo_widget.error_404 {
  margin: 0 0 30px;
}
.evo_widget h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.evo_widget.widget_core_coll_featured_intro {
  padding: 0 !important;
  border-radius: 2px;
}
.evo_widget.widget_core_coll_featured_intro .jumbotron {
  border-radius: 2px;
}
.evo_widget.widget_core_coll_featured_intro .jumbotron .evo_post_title h2 {
  padding: 0;
}
.evo_widget.widget_core_coll_featured_intro .jumbotron .panel-heading,
.evo_widget.widget_core_coll_featured_intro .jumbotron .panel-body {
  padding: 0;
}
div.error_403,
div.error_additional_content .widget_core_coll_tag_cloud,
.deleted_thread_explanation {
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  padding: 20px;
  margin: 0 0 30px;
}
div.error_403 h2,
div.error_additional_content .widget_core_coll_tag_cloud h2,
.deleted_thread_explanation h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px;
}
div.error_additional_content {
  margin: 0;
}
form ul.token-input-list-facebook {
  border-radius: 2px;
}
/* --------------------- Disp Single ---------------------- */
.pager {
  margin: 0;
}
.pager li a {
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  margin-bottom: 30px;
  padding: 15px;
}
.evo_container__item_single {
  border-radius: 0 0 2px 2px;
}
.post_tags a {
  border-radius: 2px;
}
/* --------------------- Comments + disp ---------------------- */
.disp_comments .evo_comment.panel .panel-heading > h4.panel-title.pull-right,
.disp_comments .evo_comment.panel .panel-heading > .evo_comment_title {
  float: none !important;
}
.evo_comment .panel-body {
  border-radius: 0 0 2px 2px;
}
.evo_comment .panel-body .evo_comment_avatar img {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
}
/* --------------------- Search disp ---------------------- */
.disp_search main > h2 {
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 20px;
}
input.search_field {
  margin-bottom: 0;
  display: inline-block;
}
form.search .search_options {
  width: 100%;
}
form.search .search_options .search_option input {
  margin-right: 5px;
}
form.search .search_options .search_option label {
  margin-bottom: 0;
  margin-top: 5px;
}
div.compact_search_form input.search_field,
div.extended_search_form input.search_field {
  height: 49px;
  margin: 0;
  padding: 15px;
  width: 100%;
}
div.compact_search_form input.search_submit,
div.extended_search_form input.search_submit {
  margin: 0;
}
div.extended_search_form {
  text-align: center;
  margin: 0 auto;
  max-width: 530px;
}
div.extended_search_form .search_options {
  text-align: center;
}
div.extended_search_form .search_options .search_option {
  display: inline-block;
  margin-right: 10px;
}
.search_result {
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  padding: 20px;
  margin-bottom: 30px;
}
.search_result .search_result_score {
  border-radius: 2px;
  display: block;
  float: none;
  font-size: 16px;
  font-weight: 700;
  line-height: auto;
  margin: 0 auto 20px;
  padding: 15px;
  text-align: center;
  width: 74px;
}
.search_result .search_content_wrap {
  margin: 0;
}
.search_result .search_content_wrap .search_title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.search_result .search_content_wrap .search_title a {
  text-decoration: none;
}
.search_result .search_content_wrap .search_title a:hover {
  text-decoration: underline;
}
.search_result .search_content_wrap .result_content {
  padding-bottom: 10px;
}
.search_result .search_content_wrap > .search_info {
  padding-bottom: 10px;
}
.search_result .search_content_wrap > .search_info:last-child {
  padding: 0;
}
.search_result .search_content_wrap > .search_info img.avatar_before_login {
  border-radius: 2px;
  vertical-align: middle;
}
/* --------------------- Other disps ---------------------- */
.disp_access_denied main,
.disp_threads main .panel,
.disp_arcdir main {
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  margin-bottom: 30px;
  padding: 20px 20px 10px;
}
.disp_posts main > p.msg_nothing {
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  margin-bottom: 30px;
  padding: 20px 20px;
}
.disp_threads main .panel {
  padding: 0;
}
.disp_threads main .panel > h2 {
  border: none;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  margin: -20px -20px 30px;
}
.disp_threads main .panel .form_text_input {
  height: 49px;
}
.disp_threads main .panel label[for=thrd_title] {
  padding-top: 13px;
}
.disp_threads main .panel .SaveButton {
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 10px 16px;
  text-transform: uppercase;
}
.disp_catdir main .widget_core_coll_category_list > h3,
.disp_arcdir main > h2 {
  border: none;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  margin: -20px -20px 20px;
}
.disp_sitemap main > h2,
.disp_posts main > h2 {
  border: none;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  margin: 0 0 30px;
}
.disp_lostpassword .evo_form__login .panel .panel-body {
  padding-top: 0;
}
/* --------------------- Rest ---------------------- */
.evo_container__header {
  margin-bottom: 30px;
}
.evo_container__page_top {
  margin-top: 30px;
}
.evo_container__page_top .ufld_icon_links {
  text-align: right;
}
.nav.nav-tabs {
  margin-top: 0;
}
.widget_core_user_login #login_form .form-group {
  margin: 0;
}
.widget_core_user_login #login_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_login #login_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_login #login_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_login .submit {
  font-size: 12px;
}
.widget_core_user_login .field_login_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_login .field_login_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_login .field_login_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
.widget_core_user_login .register_link {
  display: block;
  padding-top: 10px;
}
.widget_core_user_register #register_form .form-group {
  margin: 0;
}
.widget_core_user_register #register_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_register #register_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_register #register_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_register .submit {
  font-size: 12px;
}
.widget_core_user_register .field_register_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_register .field_register_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_register .field_register_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
ul.profile_tabs {
  margin: 0 0 30px;
  position: relative;
}
ul.profile_tabs li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 0;
}
ul.profile_tabs li a {
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  margin: 0 10px 10px 0;
  padding: 15px;
}
ul.profile_tabs li a:hover {
  text-decoration: none;
}
.disp_profile .panel-heading,
.disp_pwdchange .panel-heading,
.disp_subs .panel-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}
.disp_profile .SaveButton,
.disp_pwdchange .SaveButton,
.disp_subs .SaveButton {
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 30px;
  padding: 15px;
  text-transform: uppercase;
}
.profile_avatar {
  float: right;
  padding: 10px;
  margin-left: 10px;
}
.form-horizontal .controls textarea.form-control {
  width: 100%;
}
table.catselect input#new_category_name {
  width: 98% !important;
}
label.control-label[for=post_title] {
  width: auto;
}
textarea.message_text {
  width: 95%;
}
.evo_post {
  margin-bottom: 30px;
}
.evo_post .small.text-muted {
  margin: 4px 0 10px;
}
.evo_post .small.text-muted a,
.evo_post .small.text-muted a .glyphicon {
  color: inherit;
}
.evo_hasbgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div.bSideItem {
  background: #F7F5FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 #FFFFFF;
}
div.bSideItem h4 {
  margin-top: 0;
}
.skin-form .panel-body .panel {
  border: none;
  box-shadow: none;
}
.skin-form .panel-body .panel-body {
  padding: 0;
}
.skin-form .fieldset {
  margin: 0;
}
.skin-form .fieldset div.input {
  margin: 0;
}
.skin-form .control-buttons,
.skin-form div.input {
  padding: 0;
  width: 100%;
  text-align: center;
}
.evo_panel__login,
.evo_panel__lostpass,
.evo_panel__register,
.evo_panel__activation {
  min-width: 290px;
  margin: 1.5em auto auto;
}
.evo_panel__login .panel,
.evo_panel__lostpass .panel,
.evo_panel__register .panel,
.evo_panel__activation .panel {
  margin: 5px 0;
}
.evo_panel__login .panel .panel-body,
.evo_panel__lostpass .panel .panel-body,
.evo_panel__register .panel .panel-body,
.evo_panel__activation .panel .panel-body {
  padding: 20px 20px 10px;
}
.evo_panel__login .panel .panel-body .input_text,
.evo_panel__lostpass .panel .panel-body .input_text,
.evo_panel__register .panel .panel-body .input_text,
.evo_panel__activation .panel .panel-body .input_text,
.evo_panel__login .panel .panel-body .form_text_input,
.evo_panel__lostpass .panel .panel-body .form_text_input,
.evo_panel__register .panel .panel-body .form_text_input,
.evo_panel__activation .panel .panel-body .form_text_input {
  border-radius: 2px;
  height: 49px;
}
.evo_panel__login .panel .panel-body .btn-success,
.evo_panel__lostpass .panel .panel-body .btn-success,
.evo_panel__register .panel .panel-body .btn-success,
.evo_panel__activation .panel .panel-body .btn-success,
.evo_panel__login .panel .panel-body .btn-primary,
.evo_panel__lostpass .panel .panel-body .btn-primary,
.evo_panel__register .panel .panel-body .btn-primary,
.evo_panel__activation .panel .panel-body .btn-primary {
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.evo_panel__login {
  max-width: 400px;
}
.evo_panel__lostpass {
  max-width: 480px;
}
.evo_panel__lostpass #ffield_x label {
  display: none;
}
.evo_panel__activation {
  max-width: 530px;
}
.evo_panel__activation #activateinfo_form .control-buttons {
  text-align: left;
}
.evo_panel__register {
  max-width: 580px;
}
.evo_panel__register .control-buttons {
  text-align: left;
}
.evo_panel__register.register-disabled {
  width: 350px;
}
.evo_panel__register .form-control#country,
.evo_panel__register .form-control#u {
  width: 100%;
}
.evo_form__login_links {
  padding: 0 5px;
  font-size: 92%;
}
.evo_form__login fieldset {
  margin-bottom: 20px;
}
.evo_form__login .controls {
  padding: 0;
  margin: 0;
  width: 100%;
}
.evo_form__login .control-buttons {
  margin-left: 0;
}
.evo_form__login input.form-control[type=text],
.evo_form__login input.form-control[type=password] {
  width: 100%;
}
.evo_form__login .btn {
  margin-top: 5px;
}
#login_form .control-buttons {
  text-align: left;
}
.standard_login_link {
  text-align: center;
  margin: 3em 0 1ex 0;
}
.form_footer_notes {
  margin-top: 0;
}
.pagination {
  margin: 0;
}
.pagination li > a,
.pagination li > span {
  border: 0;
  padding: 10px 14px;
}
div.action_messages,
div.log_container {
  margin: 0;
}
.item_single_header {
  padding: 8px 0 20px;
}
.evo_post_title {
  display: table;
}
.evo_post_title h1 {
  margin-bottom: 0;
}
.evo_post_title h2 {
  display: table-cell;
  margin: 0;
  padding: 20px 0 0;
}
.evo_post_title .btn-group {
  display: table-cell;
  padding: 5px 0 0 30px;
  vertical-align: middle;
}
.evo_post_title .btn-group a {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
}
footer.row {
  margin-top: 20px;
}
.avatar_main_frame {
  background-color: transparent;
}
