.transition {
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}
body .container a:hover {
  text-decoration: underline;
  background-color: transparent !important;
}
body .sitewide_header {
  margin-bottom: 0px;
}
body .widget_core_coll_title h1 {
  margin: 0px;
  padding: 0px;
}
.evo_container__header {
  margin-bottom: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.evo_container__header h1 a {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 28px;
  font-weight: 700;
}
.evo_container__header .widget_core_coll_tagline {
  font-family: serif;
  font-style: italic;
}
.evo_container__page_top {
  margin-top: 50px;
}
.evo_container__page_top .ufld_icon_links {
  text-align: right;
}
.evo_container__page_top .ufld_icon_links a span {
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
.evo_container__page_top .ufld_icon_links a span:hover {
  text-decoration: none !important;
  background-color: transparent;
}
.evo_container__page_top a:hover {
  text-decoration: none !important;
}
.evo_container__page_top .widget--social-media-links {
  text-align: right;
}
.nav.nav-tabs {
  margin-top: 0;
}
.navi {
  margin: 0px;
}
.navi ul.blog-navigation {
  margin: 0px;
}
.navi ul.blog-navigation li {
  display: inline-block;
  list-style-type: none;
  padding: 14px 0px;
}
.navi ul.blog-navigation li a {
  padding: 15px 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none !important;
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
.navi ul.blog-navigation li a:hover {
  border-right: 1px solid rgba(255, 255, 255, 0);
}
.navi ul.blog-navigation li a.selected {
  font-weight: normal;
  border-right: 1px solid rgba(255, 255, 255, 0);
}
.navi ul.blog-navigation .compact_search_form {
  float: right;
  right: 0;
  margin-top: -44px;
  margin-right: 11px;
}
.navi ul.blog-navigation .compact_search_form input.search_field {
  border-radius: 0px;
  max-width: 180px;
  margin-right: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.navi ul.blog-navigation .compact_search_form input.search_field:focus {
  outline: none;
  box-shadow: none;
}
.navi ul.blog-navigation .compact_search_form .search_submit {
  border-radius: 0px;
  color: white;
  margin-top: -2px;
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
.navi ul.blog-navigation .compact_search_form .search_submit:hover {
  opacity: 0.8;
}
#nav-mobile,
#nav-trigger {
  display: none;
}
.widget_core_user_login #login_form .form-group {
  margin: 0;
}
.widget_core_user_login #login_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_login #login_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_login #login_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_login .submit {
  font-size: 12px;
}
.widget_core_user_login .field_login_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_login .field_login_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_login .field_login_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
.widget_core_user_login .register_link {
  display: block;
  padding-top: 10px;
}
.widget_core_user_register #register_form .form-group {
  margin: 0;
}
.widget_core_user_register #register_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_register #register_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_register #register_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_register .submit {
  font-size: 12px;
}
.widget_core_user_register .field_register_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_register .field_register_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_register .field_register_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
ul.profile_tabs {
  margin: 0 2ex 2ex;
  position: relative;
  top: 1px;
}
.profile_avatar {
  float: right;
  padding: 10px;
  margin-left: 10px;
}
.form-horizontal .controls textarea.form-control {
  width: 100%;
}
input.search_field {
  margin-bottom: 0;
  display: inline-block;
}
form.search .search_options {
  width: 100%;
}
form.search .search_options .search_option input {
  margin-right: 5px;
}
form.search .search_options .search_option label {
  margin-bottom: 0;
  margin-top: 5px;
}
div.compact_search_form input.search_field {
  width: 100%;
  margin: 0;
}
div.extended_search_form {
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 530px;
}
div.extended_search_form .search_options {
  text-align: center;
}
div.extended_search_form .search_options .search_option {
  display: inline-block;
  margin-right: 10px;
}
table.catselect input#new_category_name {
  width: 98% !important;
}
label.control-label[for=post_title] {
  width: auto;
}
.item_tags td.label {
  background: none;
  color: #000;
  text-shadow: none;
  padding: 0 5px 0 0;
  font-size: 100%;
}
.item_tags td.label label,
.item_tags td.label span {
  margin-top: 10px;
}
.item_tags td.input {
  width: 90%;
}
.item_tags td.input label {
  display: none;
}
.item_tags .controls {
  margin-left: 0;
}
textarea.message_text {
  width: 95%;
}
.comment_form h3 {
  margin: 0;
}
.comment_form .panel {
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.comment_form .panel .panel-body {
  padding: 0;
}
.form-horizontal .form-group,
.form-horizontal .custom_content {
  margin-left: 0;
  margin-right: 0;
}
.form-horizontal fieldset {
  margin-top: 0;
}
.form-horizontal input[type=file] {
  display: inline;
}
#comment_date_field input {
  width: 80px;
}
#comment_date_field label {
  font-weight: normal;
}
.form-group[id^="ffield_uploadfile"] .controls {
  padding-top: 5px;
}
.form-group[id^="ffield_uploadfile"] .controls input {
  line-height: 10px;
}
.comment_rating {
  margin-top: 2px;
}
#comment_edit .comment_rating {
  margin-top: 9px;
}
.ratings_table {
  margin-bottom: 10px;
}
.ratings_table .rating_summary {
  border-spacing: 1px;
  border-collapse: separate;
}
.ratings_table .progress {
  border-radius: 0;
  height: 13px;
}
#comment_date_field .panel {
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}
#comment_date_field .panel .panel-body {
  padding: 0;
}
#comment_date_field .panel .panel-body .control-label {
  font-weight: bold;
}
#comment_date_field .panel .panel-body .controls .form-group {
  display: inline-block;
  padding-left: 15px;
  margin-bottom: 0;
}
.evo_post {
  margin-bottom: 2em;
}
.evo_post .small.text-muted {
  margin: 4px 0 10px;
}
.evo_post .small.text-muted a,
.evo_post .small.text-muted a .glyphicon {
  color: inherit;
}
.single_navigation {
  margin: 10px 0px 0px 0px;
  list-style-type: none;
}
.single_navigation li.previous {
  float: left;
}
.single_navigation li.next {
  float: right;
}
.single_navigation li a {
  padding: 8px;
}
.single_navigation li a:hover {
  text-decoration: none;
  color: white;
}
.well .small-tags {
  margin-bottom: 10px;
}
.well .small-tags i.fa-tags {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 21px;
}
.well .small-tags a {
  font-size: 16px !important;
  padding: 5px;
  margin-right: 5px;
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
.well .small-tags a:hover {
  text-decoration: none;
}
.well .small-feedback {
  margin-bottom: 5px;
}
.evo_post {
  margin-top: 35px;
  margin-bottom: 2em;
  padding: 15px 60px 40px;
}
.evo_post .evo_post_title h1 {
  margin-bottom: 0;
}
.evo_post .small.text-muted {
  margin: 4px 0 10px;
  font-style: oblique;
}
.evo_post .evo_post__full .evo_post_images {
  margin: 20px 0px;
}
.evo_post .evo_post__full .evo_post__full_text {
  word-spacing: 1px;
}
.evo_post .evo_post__full .evo_post__full_text .evo_post_more_link {
  margin-top: 30px;
}
.evo_post .evo_post__full .evo_post__full_text .evo_post_more_link a {
  padding: 9px 30px;
  font-weight: normal;
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
.evo_post .evo_post__full .evo_post__full_text .evo_post_more_link a:hover {
  text-decoration: none;
}
.evo_post .post-tags,
.evo_post footer .small-tags {
  margin-top: 30px;
}
.evo_post .post-tags i.fa-tags,
.evo_post footer .small-tags i.fa-tags {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 21px;
}
.evo_post .post-tags a,
.evo_post footer .small-tags a {
  font-size: 16px !important;
  padding: 5px;
  margin-right: 5px;
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
.evo_post .post-tags a:hover,
.evo_post footer .small-tags a:hover {
  text-decoration: none;
}
.evo_post .small-feedback {
  margin-top: 15px;
}
.evo_post .small-feedback a {
  font-size: 16px;
  text-transform: uppercase;
}
form#user_checkchanges.bComment {
  border: none;
}
#feedbacks h3 {
  margin: -15px 0px 20px 0px;
}
#feedbacks .evo_comment {
  border-radius: 0px;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: none;
}
#feedbacks .evo_comment .evo_comment_title {
  font-size: 18px;
}
#feedbacks .evo_comment .evo_comment_avatar img {
  width: 40px;
  height: 40px;
  float: none;
}
#feedbacks .evo_comment .panel-heading {
  padding: 0px;
  background: transparent;
}
#feedbacks .evo_comment .panel-body {
  padding: 15px 0px 0px 0px;
}
.comment_form {
  border-radius: 0px;
  padding: 15px;
  margin-bottom: 30px;
}
.comment_form .panel-heading {
  background: transparent;
}
.comment_form .panel-heading h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.comment_form .form-group {
  margin-bottom: 0px;
}
.comment_form .panel-body {
  padding: 15px 0px;
}
.comment_form .panel-body .evo_form__comment .form-group label {
  text-align: left;
  width: 130px;
}
.comment_form .panel-body .evo_form__comment .form_textarea_input {
  border-radius: 0px;
  font-size: 18px;
}
.comment_form .panel-body #uploadfile_A1 {
  font-size: 16px;
}
.comment_form .panel-body .fieldset_wrapper fieldset .panel {
  background-color: transparent;
}
.comment_form .panel-body .fieldset_wrapper fieldset .panel div div {
  margin-top: 10px;
  margin-bottom: 0px;
}
.comment_form .panel-body .fieldset_wrapper fieldset .panel div div .submit {
  padding: 9px 30px;
  border-radius: 0px;
  font-weight: normal;
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
.comment_form .panel-body .fieldset_wrapper fieldset .panel div div .submit:hover {
  opacity: 0.8;
}
.comment_form .panel-body .fieldset_wrapper fieldset .panel div div .preview {
  padding: 9px 30px;
  border-radius: 0px;
  font-weight: normal;
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
.comment_form .panel-body .fieldset_wrapper fieldset .panel div div .preview:hover {
  opacity: 0.8;
}
#comment_preview {
  border-radius: 0;
}
#comment_preview .panel-heading {
  background: transparent;
  padding: 15px 0 0 0;
  margin: 0 15px;
  border-color: #ddd;
}
#comment_preview .panel-heading h4 {
  font-size: 18px;
}
#comment_preview .panel-heading h4 .evo_comment_avatar {
  margin-right: 6px;
}
#comment_preview .panel-heading h4 .evo_comment_avatar img {
  width: 40px;
  height: 40px;
}
div.bSideItem {
  background: #F7F5FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 #FFFFFF;
}
div.bSideItem h4 {
  margin-top: 0;
}
.skin-form .panel-body .panel {
  border: none;
  box-shadow: none;
}
.skin-form .panel-body .panel-body {
  padding: 0;
}
.skin-form .fieldset {
  margin: 0;
}
.skin-form .fieldset div.input {
  margin: 0;
}
.skin-form .control-buttons,
.skin-form div.input {
  padding: 0;
  width: 100%;
  text-align: center;
}
.evo_panel__login,
.evo_panel__lostpass,
.evo_panel__register,
.evo_panel__activation {
  min-width: 290px;
  margin: 1.5em auto auto;
}
.evo_panel__login .panel,
.evo_panel__lostpass .panel,
.evo_panel__register .panel,
.evo_panel__activation .panel {
  margin: 5px 0;
}
.evo_panel__login .panel-body,
.evo_panel__lostpass .panel-body,
.evo_panel__register .panel-body,
.evo_panel__activation .panel-body {
  padding-top: 20px;
  padding-bottom: 0;
}
.evo_panel__login {
  max-width: 400px;
}
.evo_panel__lostpass {
  max-width: 480px;
}
.evo_panel__lostpass #ffield_x label {
  display: none;
}
.evo_panel__activation {
  max-width: 530px;
}
.evo_panel__activation #activateinfo_form .control-buttons {
  text-align: left;
}
.evo_panel__register {
  max-width: 580px;
}
.evo_panel__register .control-buttons {
  text-align: left;
}
.evo_panel__register.register-disabled {
  width: 350px;
}
.evo_panel__register .form-control#country,
.evo_panel__register .form-control#u {
  width: 100%;
}
.evo_form__login_links {
  padding: 0 5px;
  font-size: 92%;
}
.evo_form__login fieldset {
  margin-bottom: 20px;
}
.evo_form__login .controls {
  padding: 0;
  margin: 0;
  width: 100%;
}
.evo_form__login .control-buttons {
  margin-left: 0;
}
.evo_form__login input.form-control[type=text],
.evo_form__login input.form-control[type=password] {
  width: 100%;
}
.evo_form__login .btn {
  margin-top: 5px;
}
#login_form .control-buttons {
  text-align: left;
}
.standard_login_link {
  text-align: center;
  margin: 3em 0 1ex 0;
}
.form_footer_notes {
  margin-top: 0;
}
.site_pagination {
  list-style-type: none;
}
.site_pagination li {
  display: inline;
}
.site_pagination li span {
  padding: 6px 12px;
  border-radius: 0px !important;
  margin-right: 5px;
}
.site_pagination li a[rel~="next"],
.site_pagination li a[rel~="prev"] {
  padding: 6px 12px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: 5px;
  border-radius: 0px !important;
}
.site_pagination li a[rel~="next"]:hover,
.site_pagination li a[rel~="prev"]:hover {
  text-decoration: none !important;
}
div.action_messages,
div.log_container {
  margin: 0;
}
.evo_post_title {
  display: table;
}
.evo_post_title h2 {
  display: table-cell;
  margin: 0;
  padding: 20px 0 10px;
}
.evo_post_title .btn-group {
  display: table-cell;
  padding: 20px 0 10px 30px;
  vertical-align: middle;
}
.col-md-9 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.col-md-9 .well {
  padding: 0px 60px 20px 60px;
  border-radius: 0px;
  width: 100%;
}
.col-md-9 .well .post_title h2 {
  padding-top: 0px;
}
.col-md-9 h3 {
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: -10px 0px 20px 0px;
}
.col-md-9 .img-responsive {
  border-radius: 0px;
}
.col-md-9 .evo_widget {
  margin-bottom: 30px;
}
.col-md-9 .widget_core_coll_post_list ul,
.col-md-9 .widget_core_coll_comment_list ul {
  margin: 0px;
  padding: 15px 15px 15px 50px;
}
.col-md-9 .widget_core_coll_post_list ul li,
.col-md-9 .widget_core_coll_comment_list ul li {
  list-style-type: decimal;
  padding: 4px 0px;
}
.col-md-9 .widget_core_coll_comment_list ul li a span.user,
.col-md-9 .widget_core_coll_comment_list ul li a.user {
  font-weight: normal;
}
.col-md-9 .widget_core_coll_comment_list ul li a {
  font-weight: bold;
}
.col-md-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.col-md-3 .widget_core_coll_avatar a img.loadimg {
  padding: 1px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.col-md-3 .panel {
  border-radius: 0px;
  box-shadow: none;
  padding: 15px;
  margin-bottom: 30px;
}
.col-md-3 .panel .panel-heading {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}
.col-md-3 .panel .panel-heading h4.panel-title {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}
.col-md-3 .panel .panel-body ul li {
  font-size: 15px;
  list-style-type: decimal;
  line-height: 1.85em;
}
.col-md-3 .panel .panel-body ul li a {
  font-weight: normal;
  font-size: 18px;
}
.col-md-3 .panel .panel-body ul li a:nth-child(2) {
  font-weight: bold;
  letter-spacing: 0.7px;
}
.col-md-3 .panel .panel-body ul li .user.anonymous {
  font-weight: normal;
}
.col-md-3 .panel .panel-body ul ul {
  margin-left: 15px;
}
.col-md-3 .panel .panel-body ul ul li {
  list-style-type: disc;
}
.col-md-3 .panel .panel-body ul ul ul {
  margin-left: 25px;
}
.col-md-3 .panel .panel-body ul ul ul li {
  list-style-type: circle;
}
.col-md-3 .panel.widget_core_coll_comment_list .panel-body {
  padding-left: 0px;
  padding-right: 0px;
}
.col-md-3 .panel.widget_core_coll_comment_list .panel-body ul li span.login {
  font-weight: normal;
}
.col-md-3 .widget_core_coll_tag_cloud .panel-body .tag_cloud {
  line-height: 2.0em;
}
.col-md-3 .widget_core_coll_tag_cloud .panel-body .tag_cloud a {
  font-size: 16px !important;
  padding: 5px;
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
.col-md-3 .widget_core_coll_tag_cloud .panel-body .tag_cloud a:hover {
  text-decoration: none;
}
.col-md-3 .widget_core_coll_search_form .panel-body form.search input.search_field {
  margin-bottom: 2px;
  border-radius: 0px;
  max-width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 3px;
}
.col-md-3 .widget_core_coll_search_form .panel-body form.search input.search_field:focus {
  outline: none;
  box-shadow: none;
}
.col-md-3 .widget_core_coll_search_form .panel-body form.search .search_submit {
  border-radius: 0px;
  color: white;
  margin-top: -2px;
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
.col-md-3 .widget_core_coll_search_form .panel-body form.search .search_submit:hover {
  opacity: 0.8;
}
.extended_search_form .search_submit,
.extended_search_form .search_field {
  border-radius: 0 !important;
}
.extended_search_form .search_submit:focus,
.extended_search_form .search_field:focus {
  outline: none;
  box-shadow: none;
}
.extended_search_form .search_submit:hover {
  opacity: 0.8;
}
.extended_search_form .search_field {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.evo_image_block {
  border-radius: 0;
  margin: 10px 0px;
}
.evo_image_block img.loadimg {
  margin: 0px;
  width: 100% !important;
  height: auto;
  transition: 0.3s ease;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
}
.evo_image_block img.loadimg:hover {
  opacity: 0.9;
}
.evo_post_gallery img {
  border-radius: 0;
}
.evo_post_gallery img:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 991px) {
  .col-md-9 .widget_core_coll_post_list ul {
    padding: 0px;
    padding-left: 15px !important;
  }
  .evo_container__page_top .ufld_icon_links {
    float: none !important;
    text-align: center;
    margin: 0 auto !important;
    display: block;
  }
  .pageHeader {
    text-align: center;
  }
}
@media all and (max-width: 991px) {
  .blog-navigation,
  .row.navi {
    display: none !important;
  }
  #nav-trigger {
    display: block;
    padding: 14px 0px;
    text-align: center;
  }
  #nav-trigger span {
    color: white;
    padding: 15px 50px 16px 50px;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
  }
  #nav-trigger span:after {
    font-family: FontAwesome;
    content: " \f0c9";
  }
  nav#nav-mobile {
    display: block;
    margin: 0 auto;
    max-width: 400px !important;
  }
  nav#nav-mobile ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  nav#nav-mobile ul li {
    list-style-type: none;
    width: 100%;
    margin: 0px;
  }
  nav#nav-mobile ul li.active {
    font-weight: 100;
  }
  nav#nav-mobile ul li a {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  nav#nav-mobile ul li a:hover {
    text-decoration: none;
  }
  nav#nav-mobile ul div.compact_search_form {
    margin-top: 2px;
  }
  nav#nav-mobile ul div.compact_search_form input.search_field {
    margin-bottom: 2px;
    border-radius: 0px;
    max-width: 200px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-right: 3px;
  }
  nav#nav-mobile ul div.compact_search_form input.search_field:focus {
    outline: none;
    box-shadow: none;
  }
  nav#nav-mobile ul div.compact_search_form .search_submit {
    border-radius: 0px;
    margin-top: -2px;
    transition: 0.3s ease;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
  }
  nav#nav-mobile ul div.compact_search_form .search_submit:hover {
    opacity: 0.8;
  }
  #nav-mobile ul {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  .evo_post,
  .well {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .evo_post .evo_post__full_text,
  .well .evo_post__full_text {
    word-spacing: 0px;
  }
}
/* RANDOM FIXES */
.disp_page .evo_post {
  margin-top: 0;
}
#bCalendarToday {
  border: 1px solid #f86d18;
  background-color: #f86d18;
  color: white;
  border-radius: 0;
}
.disp_posts .pagination {
  display: none !important;
}
.disp_comments .evo_comment {
  margin-bottom: 30px;
  box-shadow: none;
  border-radius: 0;
}
.disp_comments .evo_comment .panel-heading {
  background: transparent;
  margin: 0 15px;
  padding: 15px 0 0 0;
}
.disp_comments .evo_comment .panel-heading h4 {
  font-size: 18px;
}
.disp_comments .evo_comment .panel-heading .pull-right {
  float: none !important;
  clear: both;
}
.disp_comments .evo_comment .panel-heading .pull-right .evo_comment_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 0;
  margin: 0;
  margin-right: 6px;
  margin-top: 10px;
}
